## Library for german numbers translation

In [ ]:
from num2words import num2words
import pandas as pd
import numpy as np

def translated_number(num):
  return num2words(num, lang='de')

## Extracting all numbers from each text line in dataframe

In [ ]:
df = pd.read_csv('train_bern.csv')
#df.columns = ['abc']
#df = df[:17000]
d = df['sentence'].astype('str').str.extractall('(\d+)').unstack()
numbers_array = dict.fromkeys(d.index)

In [ ]:
d.sample(5)

          0
match     0    1    2    3    4    5    6    7
34375     2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5052     21    1  NaN  NaN  NaN  NaN  NaN  NaN
8643   2018  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16720   114    0    0  NaN  NaN  NaN  NaN  NaN
34824     3  NaN  NaN  NaN  NaN  NaN  NaN  NaN

## Add all numbers in set

In [ ]:
for j in d.index:
  for i in range(8):
    if isinstance(d[0][i][j], str):
      #print('index ', j, ' and ', int(d[0][i][j]))
      if not numbers_array[j]:
        a = set()
        numbers_array[j] = a
      numbers_array[j].add(int(d[0][i][j]))
numbers_array[5]

{2, 6}

## Replace all numbers in each sentence with their spelled german

In [ ]:
for j in d.index:
  for t in sorted(list(numbers_array[j]))[::-1]:
    df['swiss'][j] = df['swiss'][j].replace(str(t), translated_number(t))
    df['sentence'][j] = df['sentence'][j].replace(str(t), translated_number(t))
df.sample(5)

,path,sentence,swiss
19221,2818.flac,mein antrag damals in der ersten lesung auf rü...,mi Atrag damaus ir erschte Läsig uf rückwisig ...
14304,26170.flac,ich möchte mich für die konstruktive debatte b...,i wett mi für di konstruktivi debatte bedanke.
5455,909.flac,ob der vorstoss als postulat oder als motion ü...,öb dä vorstoss als postulat oder als motion üb...
33886,6457.flac,diese sparmassnahme hätte somit eine auswirkun...,die sparmassnahme hätt somit e uswirkig uf d q...
34313,15554.flac,videoüberwachung: nach einer petition unterbre...,videoüberwachig: nachere petition het e gmeind...

## Save to local .csv file

In [ ]:
df.to_csv('bern_data1.csv')